<div class="max-w-4xl mx-auto bg-white rounded shadow p-6">
  <h1 class="text-2xl font-bold mb-4">Inventory Log for <%= @inventory_location.ingredient.name %> at location <%= @inventory_location.location.name %></h1>
  <h1 class="text-l font-bold mb-4 italic">Current Quantity: <%= @inventory_location.quantity %></h1>
  <div class="border rounded mb-10 p-4">
    <%= render partial: 'inventory_unit', collection: @inventory_units %>
  </div>

  <p class="mt-6 text-center">
    <%= link_to t(".back_to_inventories"), admin_location_inventory_locations_path(@inventory_location.location), class: "inline-block bg-blue-600 text-white w-full py-2 rounded-md font-medium hover:bg-blue-700 transition" %>
  </p>
</div>
